/* entire controllers container */
.footCont {
  display: flex;
  justify-content: space-between;
  width: 332px;
  padding: 15px 20px;
  border-radius: 0 0 6px 6px;
}
/* all, active, completed */
.allActCom {
  position: relative;
  top: 90px;
  width: 332px;
  padding: 15px 20px;
  border-radius: 6px;
  margin-top: 5px;
}

@media screen and (min-width: 375px) {
  .allActCom {
    position: initial;
  }
}