/* TOGGLE SHOW ALL, COMPLETED, ACTIVE */
#show {
  display: flex;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/* check button */
.check {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 30px;
}

/* .check > img {
  margin: 7px;
} */