/* TOGGLE SHOW ALL, COMPLETED, ACTIVE */
#show {
  display: flex;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/* check button */
.check {
  border-radius: 30px;
  border: none;
  padding: 0 2px;
  margin-right: 1em;
}
/* toggle check */
.tog {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.noTog {
  /* background-color: hsl(235, 24%, 19%); */
  opacity: 0.1;
  border: 2px solid black;
}
.check > img {
  margin: 2px;
}

/* edit task input field */
.editTask {
  opacity: 0.3;
  border: 2px solid black;
  width: 94%;
  margin: 0 0;
}
.darkText {
  color: hsl(235, 24%, 19%);
}

/* .check > img {
  margin: 7px;
} */

hr {
  border: 0.4px solid grey;
}
.delBtn {
  background: transparent;
  border: none;
  color: hsl(234, 39%, 85%);
  cursor: pointer;
}
.delBtn:hover {
  color: red;
}

@media screen and (min-width: 376px) {
}

/* we don't need .big */
