/* TOGGLE SHOW ALL, COMPLETED, ACTIVE */
#show {
  display: flex;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/* check button */
.check {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 30px;
  border: none;
  padding: 0 2px;
  margin-right: 1em;
}
.check > img {
  margin: 2px;
}

.taskText {
  /* text-align: start; */
}

/* .check > img {
  margin: 7px;
} */

hr {
  border: .4px solid grey;
}
.delBtn {
  background: transparent;
  border: none;
  color: hsl(234, 39%, 85%);
  cursor: pointer;
}
.delBtn:hover {
  color: red;
}

@media screen and (min-width: 376px) {
}

/* we don't need .big */