@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
body {
  padding: 2.9em 1em;
}

h1 {
  font-weight: 700;
  font-size: 27px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
li {
  cursor: pointer;
}
li:hover {
  color: hsl(233, 75%, 57%)
}
header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* from tasks */
article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 332px;
  padding: 10px 20px;
}
/* section {
  border: 1px solid red;
}
section:first-of-type {
  color: red;
} */
